div.clear{
	clear: both;
}
div#wrapper{
	border: 1px solid #c0c0c0;
	margin: auto;
	width: 960px;
	padding: 20px;
	background-color: #eeeeee;
}
div.nameplate{
	border: 2px solid; 
	background-color: "gold";
}
div#game-board{
	margin: auto;
	width: 660px;
}
div#table{
	margin: auto;
	border: 5px solid #BF7C19;
	border-top: 5px solid #8A5300;
	width: 650px;
	height: 200px;
	padding: 5px;
	background-color: #006600;
}
div#dealer-table{
	margin: auto;
	border: 5px solid #BF7C19;
	border-top: 5px solid #8A5300;
	width: 432px;
	height: 130px;
	padding: 15px;
	background-color: #680000;
}
div#console{
	color: white;
}
#points-bar{
	padding: 5px;
	background-color: #c1c1c1;
	width: 100px;
	margin: auto;
}
div#points{
	float: left;
	margin: 5px;
}
#points-sum{
	float: left;
	margin: 5px;
}
nav#controls{
	width: 660px;
	padding: 5px;
	margin: auto;
	background-color: #a0a0a0;
}
aside{
	border: 2px dotted #c5c5c5;
	margin: 5px;
}
img.cardImg{
	float: left;
}
button#new-deck{
	float: right;
}
#dealer-table{
	color: white;
}